# Sets

A set is a build-in datatype in Python.  It supports many mathematical operations defined on sets, both through method calls, and operator overloading.

In [1]:
s1 = {1, 3, 5, 7,}
s2 = {2, 3, 5, 6,}

## Set queries

### Set size

In [2]:
len(s1)

4

### Subset

In [3]:
s3 = {3, 5}

In [4]:
s3.issubset(s1)

True

In [5]:
s3.issubset(s1) == (s3 <= s1)

True

### Proper subset

In [6]:
s3 < s1

True

Note: there is no method defined for this operation, but it can be simulated by:

In [7]:
s3.issubset(s1) and not s3 == s1

True

### Superset

In [8]:
s1 >= s3

True

In [9]:
s1.issuperset(s3) == (s1 >= s3)

True

### Proper superset

In [10]:
s1 > s3

True

### Set disjoint

In [11]:
s4 = {11, 13, 15}

In [12]:
s1.isdisjoint(s4)

True

### Set membership

In [13]:
3 in s1

True

In [14]:
19 not in s1

True

## Set operations

### Set intersection

In [15]:
s1 & s2

{3, 5}

In [16]:
s1.intersection(s2) == s1 & s2

True

### Set union

In [17]:
s1 | s2

{1, 2, 3, 5, 6, 7}

In [18]:
s1.union(s2) == s1 | s2

True

### Set difference

In [19]:
s1 - s2

{1, 7}

In [20]:
s1.difference(s2) == s1 - s2

True

In [21]:
s2.difference(s1) == s2 - s1

True

### Set symmetric difference

In [22]:
s1 ^ s2

{1, 2, 6, 7}

In [23]:
s1.symmetric_difference(s2) == s1 ^ s2

True

## In-place set operations

For all set operations, an in-place version is defined to be used when an existing set can be modified. This will typically be faster, since no new set needs to be created, and less elements require copying.

For instance, an in-place intersection would be:

In [24]:
s1 = {1, 3, 5, 7,}
s2 = {2, 3, 5, 6,}
s1.intersection_update(s2)
print(s1)

{3, 5}

For each method, there is an operation counterpart defined:

In [25]:
s1 = {1, 3, 5, 7,}
s2 = {2, 3, 5, 6,}
s1 &= s2
print(s1)

{3, 5}

One exception is the in-place union, although one might expect that a method `union_update` would be defined, this is in fact simple the `update` method, i.e.,

In [26]:
s1 = {1, 3, 5, 7,}
s2 = {2, 3, 5, 6,}
s1.update(s2)
print(s1)

{1, 2, 3, 5, 6, 7}

In [27]:
s1 = {1, 3, 5, 7,}
s2 = {2, 3, 5, 6,}
s1 |= s2
print(s1)

{1, 2, 3, 5, 6, 7}